.item{
    width:300px;
    text-align:center;
    font-size: larger;
    font-weight: bolder;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-bottom: 1px;
    
  }

  img{
    width: 400px;
    height: 350px;
  }

  table{
    padding-left: 10%;
    width: 100%;
  }
  body{
    background-color: rgb(248, 224, 179);
  }